
.admin-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
}

.admin-container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 230px;
    background: #1b1b1b;
    height: 100vh;
    padding: 20px;
    position: fixed;
    left: 0;
}

.sidebar h2 {
    color: wheat;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    color: rgb(142, 138, 138);
    text-decoration: none;
    font-size: 1.1rem;
}

.sidebar a:hover{
    color: white;
}

.content {
    margin-left: 260px;
    padding: 20px;
    width: 100%;
}

/* SECTION BOX */
.section-box {
    background: wheat;
    color: black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.section-box h2 {
    margin-bottom: 15px;
}

/* FORM STYLING */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#logoutBtn {
    padding: 10px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}

button:hover {
    background: #005fcc;
}

/* TABLE STYLING */
table {
    width: 100%;
    background: white;
    color: black;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

/* ACTION BUTTONS */
.edit-btn {
    background: #0099ff;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
}

.delete-btn {
    background: #ff4d4d;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
}

.delete-btn:hover, .reject-btn:hover{
    background: red;
}

.approve-btn {
    background: #28a745;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
}

.reject-btn {
    background: #ff4d4d;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    border: none;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    background: wheat;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.error {
    color: red;
    margin-top: 10px;
}

#loginBtn {
    background: #4a4aff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
 
.btn{
    background-color: #0099ff;
    height: 30px;
    width: auto;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#searchTeacher, #bookappointment, #sendmessage{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-card {
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.message-card h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.message-card p {
  margin: 5px 0 0 0;
  font-size: 0.95rem;
}

.message-card .meta {
  font-size: 0.85rem;
  color: #555;
  margin-bottom: 5px;
}
